@{
    ViewData["Title"] = "QQSM";
}
<div class="text-center">
    <h1>@ViewBag.Pregunta.TextoPregunta</h1>
    <form action='@Url.Action("ComprobarRespuesta","Home")'method="POST"enctype="multipart/form-data">
        <div class="form-group">
            @{
                foreach (Respuesta r in ViewBag.Respuestas)
                {
                    <label class="form-label">@r.TextoRespuesta<input type="radio"name="r"value="@r.OpcionRespuesta"class="form-control"></label>
                }
            }
        </div>
        <input type="submit"value="Comprobar"class="btn btn-success">
    </form>
    <a href='@Url.Action("FinJuego","Home")'class="btn btn-primary">Retirarse</a>
</div>
<div class="">
    @{
        foreach (Pozo p in Juego.lPozo)
        {
            <p>@p.Importe</p>
            if(Juego.lPozo[Juego.posPozo]==p){
                <p>I</p>
            }
        }
    }
</div>
